body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  display: flex;
  padding: 1.2em;
  text-align: center;
}

.header {
  display: flex;
}

.wupzhome {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.home {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  margin-left: 200px;
  align-items: center;
}

.rent {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.sell {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.buy {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.about {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.login {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  margin-left: 350px;
}

.getstarted {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.btnget {
  background-color: lightblue;
  color: black;
  border-radius: 5px;
  text-decoration: double;
  box-sizing: content-box;
  position: relative;
  left: 25px;
  height: 50px;
  width: 100px;
}

.logo{
  margin-left: 50px;
  display: flex;
  align-items: center ;
}